
html, body
{
    height: 100%;
}

body
{
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
}

*{margin:0; padding:0;}    /* Ugly reset */
html, body {
  height:100%;
  background:  white;        /* to fulfill page background */
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* INIZIO HEADER */

.header
{
    padding: 30px;
    text-align: center;
    background: #22356d;
}


.topnav
{
    overflow: hidden;
    background: #ffffff;
    padding: 20px 0px 20px 0px ;
    
    
}

.topnav a
{
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: bold;
    float: left;
    display: block;
    padding: 14px 10px ;          
    font-size: 23px;
    transform: scale(.8, 1);
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #22356d;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-bottom: thick  solid  #ffffff;
    
}

.topnav a:hover
{
    transition: 0.3s;
    border-bottom: thick solid #22356d;
    
}

/* FINE HEADER */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* INIZIO TAB A SINISTRA DELLA PAGINA */

.tab
{
    position:absolute;
    height:100%;
    width:15%;
    /* border: 1px solid #ccc; */
    background-color: #ffffff;
    height: max-content;
    height:inherit;
    
}



.tab button
{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab button i
{
    padding-right:10px;
}

.tab button a
{
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: bold;
    float: left;
    padding: 14px 16px;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px; 
    color: #22356d;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}


.tab button:hover
{
    transition: 0.3s;
    border-bottom: thick solid #22356d;
}

.tab button.active
{
    transition: 0.3s;
    border-bottom: thick solid #22356d;
}

/* FINE TAB A SINISTRA DELLA PAGINA */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* INIZIO CONTENUTO A DESTRA DELLA PAGINA */

.content
{

    /* padding: 0px 12px;
    border: 1px solid #ccc; */
    margin-left: 15%;
    height: 100%;
    border-left: none;
    background: rgb(255, 255, 255);
}

.tabcontent
{
 
    /* padding: 0px 12px;
    border: 1px solid #ccc; */
    background: rgb(255, 255, 255);
}



.content_gioco
{

    /* padding: 0px 12px;
    border: 1px solid #ccc; */
    display: grid;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
    border-left: none;
    background: rgb(255, 255, 255);
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.content_gioco p, .content_gioco h1
{
   color: #101010; 
   font-size: large;
}

.content_gioco img {
    border-radius: 10px;

}

.list
{   
    
    display: grid;
    grid-gap: 24px 16px;
}

/* INIZIO TOURNAMENTS CONTENT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */

.tablinks.-p  {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04em;
    
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    
    white-space: nowrap;
    font-size: 14px;
    
    border-radius: 10px;
    user-select: none;
}

.tablinks.-p  {
    display: block;
    border-radius: 10px;
}

.tablinks.-p  {
    color: #fff;
    background-color: #22356d;
    
}
 
.tablinks.-p a  {
    color: #fff;
    background-color: #22356d;
    
}

.create-tournament
{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.create-tournament a
{
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 24;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #101010;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

}

.create-tournament i
{
    padding-left: 10px;
}

.create-tournament:hover
{
    background-color: rgb(255, 255, 255);
}

.create-tournament.active
{
    background-color: #ccc;
}


.close-button
{ 
    font-size: 26px;
    color: crimson;
    cursor: pointer; 
}


.list.-four
{   
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.list.-php
{  
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card
{
    background-color: rgb(211, 211, 211);
    margin-top: 20px;
    border-radius: 20px;
}


.fakeimg 
{
    background-color: #aaa;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardtitle
{
    padding-left: 40px;
    padding-right: 40px;
}

.carddetails {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0;
    list-style-type: none;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sap i /* Questo serve per le icone */
{
    padding-right: 3px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.carddetails>li:not(:last-child) {
    margin-bottom: 8px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}



.action {
    position: inherit;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* background: brown; */
}


.btn {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 4;
    border-radius: 10px;
    user-select: none;
}

.btn-block {
    display: block;
}

.btn-default {
    color: #fff;
    background-color: #22356d;
    border-color: #454d60;
}
.btn:not(.btn-link,.btn-outline-default) {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 30%);
}



/* FINE TOURNAMENTS CONTENT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* INIZIO RANKING CONTENT */


/* FINE RANKING CONTENT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* INIZIO NEWS CONTENT */

.list.-three
{   
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.newscard
{
    background-color: rgb(211, 211, 211);
    margin-top: 20px;
    border-radius: 20px;
}

.fill
 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }

 .fill img 
{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
    
}

.img 
{
    background-color: #aaa;
    width: 100%;
}



.newstitle
{
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    font-size: larger;
}

.paragraph
{
    padding: 0px 40px 40px 40px;
    font-size: larger;
}

.bottone
{   
    
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

/* FINE NEWS CONTENT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1500px) {
    .tab, .content {
        width: 100%;
        padding: 0;
    }
  }
@media screen and (max-width: 1500px) {
.tab {
    width: 100%;
    height: auto;
    padding: 0;
}
}
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
  }
  @media screen and (max-width: 1500px) {
    .list.-four {
        float: none;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding-right: 100px;
    }
  }

  @media screen and (max-width: 1000px) {
    .list.-four {
        float: none;
        width: 100%;
        grid-template-columns: 1fr ;
        padding-right: 100px;
    }
  }

  @media screen and (max-width: 1500px) {
    .list.-three {
        float: none;
        width: 100%;
        grid-template-columns: 1fr;
        padding-right: 100px;
    }
  }

/* questi sono gli stili copiati per la classifica*/

.list.-two {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 50% 50%
}


.wrapper {
  line-height: 1.5em;
 

}

table {
  border-collapse: collapse;
  
  background: #fff;
}

th {
  background-color: #22356d;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

td,
th {
  padding: 1em 1.5em;
  text-align: left;
}

tbody th {
  background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all 0.125s ease-in-out;
}
tbody tr:hover {
  background-color: rgba(50, 98, 149, 0.3);
}

td.posto {
  text-transform: capitalize;
  
    }

td.posto img {
    object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  }

.content_scheda {

    display: grid;
    padding-top: 10px;
    width: 100%;
    border-left: none;
    background: rgb(255, 255, 255);
    grid-gap: 52px;
    grid-template-columns: 15% 35% 35% 15%;
}

.content_scheda p, .content_scheda h1
{
   color: #101010; 
   font-size: large;
}

.content_scheda img {
    border-radius: 10px;

}

.incolla_testo {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;

}

.incolla_testo p{
    font-size: larger;
}



  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    background-color: #22356d;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    

  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: large;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }